.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.item{
    font-weight: 300;
    font-size: 80px;
    color: rgb(255, 255, 255);
}
.item1{
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px white ridge;
    
}
.item1:focus{
    outline: none;
}
.show{
    display: flex;
    justify-content: center;
}
h1{
    color: aliceblue;
}
