.mainContainer2{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.box2{
    text-align: center;
}
.imgContainer{
    display: flex;
    justify-content: space-around;
}
.img1{
    margin: 30px;

}
.img2{
    margin: 30px;
    
}
.img2{
    margin: 30px4;
    
}